:root {
    --main-radius: 5px;
    --main-padding: 5px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 9fr;
    grid-template-areas:
        "nav nav"
        "sidebar main";
    grid-gap: 0.5rem;
    font-weight: 600;
    font-size: 1.6vw;
    color: #004d40;
    text-align: center;
}

nav {
    background: #a7ffeb;
    font-size: 3vw;
    font-weight: 700;
    padding: 1rem;
    grid-area: nav;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

main {
    background: #84ffff;
    grid-area: main;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#sidebar {
    background: #18ffff;
    grid-area: sidebar;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "newArray"
        "sizeArray"
        "speedArray"
        "bubbleSort"
        "insertionSort"
        "selectionSort"
        "mergeSort"
        "quickSort";
}

/* Sorting Visualizer Sidebar */
#newarr {
    grid-area: newArray;
    align-self: center;
    justify-self: center;
    padding: 1rem;
    margin: 0.8rem;
}

#spanSize {
    font-size: 18px;
    grid-area: sizeArray;
    align-self: center;
    justify-self: center;
}

#spanSpeed {
    font-size: 18px;
    grid-area: speedArray;
    align-self: center;
    justify-self: center;
}

#bubble {
    grid-area: bubbleSort;
    align-self: center;
    justify-self: center;
    padding: 1rem;
}

#selection {
    grid-area: selectionSort;
    align-self: center;
    justify-self: center;
    padding: 1rem;
}

#insertion {
    grid-area: insertionSort;
    align-self: center;
    justify-self: center;
    padding: 1rem;
}

#merge {
    grid-area: mergeSort;
    align-self: center;
    justify-self: center;
    padding: 1rem;
}

#quick {
    grid-area: quickSort;
    align-self: center;
    justify-self: center;
    padding: 1rem;
}

button {
    grid-area: sortButton;
    border-style: double;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    padding: 4px 6px 4px 6px;
}

button:hover {
    background-color: #00FF00;
}



/* Sorting Visualizer Main Side */
#bar {
    color: red;
    display: flex;
    flex-direction: row;
    height: 400px;
    align-items: baseline;
    justify-content: center;
    margin: 10vw 0vw 0vw 0vw;
}

.baritem {
    background: yellow;
    border: 1.25px solid blue;
    width: 0.9%;
}



@media only screen and (max-width: 700px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1.5fr 7.5fr;
        grid-template-areas:
            "nav"
            "sidebar"
            "main";
    }

    #sidebar {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "newArray sizeArray sizeArray speedArray speedArray"
            "bubbleSort insertionSort selectionSort mergeSort quickSort";
    }

    button {
        font-size: 1.8vw;
    }

    #size {
        font-size: 14px;
    }

    #spd {
        font-size: 14px;
    }
}